@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <div>
        <h3>SELECT AN OPTION:</h3>
        <div class="optionList">
            <div class="optionItem"><a href="~/Contacts/Index">CONTACTS</a></div>
             <div class="optionItem"><a href="~/Documents/Index">DOCUMENTS</a></div>
                <div class="optionItem"><a href="~/Inventory/Index">INVENTORY</a></div>
                 <div class="optionItem"><a href="~/Movies/Index">MOVIES</a></div>
                <div class="optionItem"><a href="~/TeamRecords/Index">TEAMRECORDS</a></div>

        </div>
    </div>
</div>
